[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-timeline = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pydata-sphinx-theme = "*"
sphinx-book-theme = "*"

[requires]
python_version = "3.11"
